<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<title>
			{% block title %}Log in!
			{% endblock %}
		</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				background-image: url('/assets/images/login/login.jpg'); /* Path to your background image */
				background-size: cover;
				background-position: center;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.login-container {
				background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity as needed */
				padding: 40px;
				border-radius: 20px;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				max-width: 400px; /* Same as before */
				width: 100%;
				text-align: center;
			}
			.login-container h1 {
				font-size: 24px;
				color: #333;
				margin-bottom: 20px;
			}
			.login-container label {
				display: block;
				margin-bottom: 10px;
				color: #333;
				font-weight: bold;
			}
			.login-container input {
				width: 100%;
				padding: 10px;
				margin-bottom: 20px;
				border-radius: 5px;
				border: 1px solid #ccc;
			}
			.login-container .btn {
				background-color: #FF6F61;
				color: #fff;
				border: none;
				padding: 10px 20px;
				font-size: 18px;
				border-radius: 25px;
				cursor: pointer;
				transition: background-color 0.3s ease;
			}
			.login-container .btn:hover {
				background-color: #FF5349;
			}
			.login-container .alert {
				margin-bottom: 20px;
				border-radius: 10px;
			}
			.login-container .links {
				margin-top: 20px;
			}
			.login-container .links a {
				margin-right: 20px;
				color: #333;
				text-decoration: none;
				background-color: #FF6F61;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 25px;
				font-size: 16px;
				cursor: pointer;
				transition: background-color 0.3s ease;
			}
			.login-container .links a:hover {
				background-color: #FF5349;
			}
		</style>
	</head>
	<body>
		<div class="login-container">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1>Please sign in</h1>
			<form method="post">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<div class="g-recaptcha" data-sitekey="6LcgBpEpAAAAAAbuQU0YYthfQFc8If9DcPaei7Br"></div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-lg btn-primary" type="submit">
					Sign in
				</button>
				<div class="links">
					<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
					<a href="{{ path('app_register') }}">Créer un compte</a>
				</div>
			</form>
		</div>
	</body>
</html>


