{% extends 'base.html.twig' %}
{% block title %}Shop{% endblock %}
{% block content %}
    <!--====== Start Breadcrumb Section ======-->
        <section class="page-banner overlay pt-170 pb-170 bg_cover" style="background-image: url('{{asset('assets/images/bg/page-bg.jpg')}}');">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="page-banner-content text-center text-white">
                            <h1 class="page-title">Shop</h1>
                            <ul class="breadcrumb-link text-white">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--====== End Breadcrumb Section ======-->
        <!--====== Start Products Section ======-->
        <section class="products-section pt-100 pb-90">
            <div class="container">
                <!--====== Products Filter ======-->
                <div class="page-item-filter mb-40 wow fadeInUp">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7">
                            <!--====== Show Text ======-->
                            <div class="show-text mb-20">
                                <h6>Showing Results 09 Of 55</h6>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <!--====== Product Dropdown ======-->
                            <div class="product-dropdown float-md-end">
                                <span class="title">Categorie</span>

                                <select class="wide" onchange="window.location.href = this.value;">
    <option data-display="Default">Default</option>
    {% for category in productCats %}
        <option value="{{ path('CategorySort', {id: category.id}) }}">{{ category.name }}</option>
    {% endfor %}
</select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for product in products %}
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Product Item ===-->
                    
                    <div class="single-product-item mb-50 wow fadeInUp">
                        <div class="img-holder">
                            <img src="{{ asset('uploads/' ~ product.image) }}" alt="Post Image" width="200px" height="300px"style=" object-fit:cover;" >
                                
                                <div class="content-hover">
                                    <a href="#" class="main-btn primary-btn">Add To Cart <i class="far fa-shopping-bag"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="info">
                                    <h4 class="title"><a href="{{ path('product_details', {id: product.id}) }}">{{product.name}}</a></h4>
                                    <span class="price"><span class="currency">TND</span>{{product.price}}</span>
                                </div>
                                <ul class="ratings">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
        </section><!--====== End Products Section ======-->
        
{% endblock %}