<!DOCTYPE html>
<html>
	<head>
		<!--====== Required meta tags ======-->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="Adventure, Tours, Travel">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--====== Title ======-->
		<title>
			{% block title %}Gowilds - Tours and Travel HTML Template
			{% endblock %}
		</title>
		{% block stylesheets %}
			<style>
				.error-message {
					color: #ff0000; /* Red color for error messages */
					font-size: 14px; /* Adjust font size */
					margin-top: 5px; /* Add some space above the error message */
				}
			</style>
			<!--====== Favicon Icon ======-->
			<link
			rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/png">
			<!--====== Google Fonts ======-->
			<link
			rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap')}}">
			<!--====== Flaticon css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/fonts/flaticon/flaticon_gowilds.css') }}">
			<!--====== FontAwesome css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/all.min.css') }}">
			<!--====== Bootstrap css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
			<!--====== magnific-popup css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/vendor/magnific-popup/dist/magnific-popup.css') }}">
			<!--====== Slick-popup css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/vendor/slick/slick.css') }}">
			<!--====== Jquery UI css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.css') }}">
			<!--====== Nice Select css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/vendor/nice-select/css/nice-select.css') }}">
			<!--====== Animate css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/vendor/animate.css') }}">
			<!--====== Default css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/css/default.css') }}">
			<!--====== Style css ======-->
			<link
			rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<!-- Add additional stylesheet links or styles here if needed -->
		<script src="https://js.stripe.com/v3/"></script>
		{% endblock %}
	</head>

	<body>
		{% block preloader %}
			<!--====== Start Preloader ======-->
			<div class="preloader">
				<div class="loader">
					<div class="pre-shadow"></div>
					<div class="pre-box"></div>
				</div>
			</div>
			<!--====== End Preloader ======-->
		{% endblock %}
		{% block search %}
			<!--====== Search From ======-->
			<div class="modal fade search-modal" id="search-modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<form>
							<div class="form_group">
								<input type="search" class="form_control" placeholder="Search here" name="search">
								<label>
									<i class="fa fa-search"></i>
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--====== Search From ======-->
		{% endblock %}
		{% block header %}
			<!--====== Start Header ======-->
			<header
				class="header-area header-three">

				<!--====== Header Top Bar ======-->
				<div class="header-top-bar pt-30 pb-30">
					<div class="container-fluid">
						<div class="row">
							<div
								class="col-xl-3 d-none d-xl-block">
								<!--====== Site Branding ======-->
								<div class="site-brading">
									<a href="#" class="brand-logo"><img src="{{ asset('assets/images/logo/logo-black.png') }}" alt="Logo"></a>
								</div>
							</div>
							<div
								class="col-xl-9 col-lg-12">
								<!--====== Information Wrapper ======-->
								<div class="information-wrapper">
									<div class="row">
										<div class="col-lg-4">
											<div class="single-info-item-two">
												<div class="inner-info">
													<div class="icon">
														<i class="far fa-map-marker-alt"></i>
													</div>
													<div class="info">
														<span class="title">Office Address</span>
														<h5>583 Main Street, USA</h5>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="single-info-item-two">
												<div class="inner-info">
													<div class="icon">
														<i class="far fa-envelope"></i>
													</div>
													<div class="info">
														<span class="title">Email Address</span>
														<h5>
															<a href="mailto:support@gmail.com">support@gmail.com</a>
														</h5>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="single-info-item-two">
												<div class="inner-info">
													<div class="icon">
														<i class="far fa-phone-plus"></i>
													</div>
													<div class="info">
														<span class="title">Drop a Line</span>
														<h5>
															<a href="tel:+000(123)45688">+000 (123) 456 88</a>
														</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--====== Header Navigation ======-->
				<div class="header-navigation">
					<div class="nav-overlay"></div>
					<div class="container-fluid">
						<div
							class="primary-menu gray-bg">
							<!--====== Site Branding ======-->
							<div class="site-brading d-block d-xl-none">
								<a href="#" class="brand-logo"><img src="{{ asset('assets/images/logo/logo-black.png') }}" alt="Logo"></a>
							</div>
							<!--====== Nav Menu ======-->
							<div
								class="nav-menu">
								<!--====== Site Branding ======-->
								<div class="mobile-logo mb-30 d-block d-xl-none">
									<a href="#" class="brand-logo"><img src="{{ asset('assets/images/logo/logo-black.png') }}" alt="Site Logo"></a>
								</div>
								<!--=== Nav Search ===-->
								<div class="nav-search mb-30 d-block d-xl-none ">
									<form>
										<div class="form_group">
											<input type="email" class="form_control" placeholder="Search Here" name="email" required>
											<button class="search-btn">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</form>
								</div>
								<!--====== Main Menu ======-->
								<nav class="main-menu">
									<ul>
										<li class="menu-item has-children">
											<a href="{{path('app_home')}}">Home</a>

										</li>	

										<li class="menu-item has-children">
											<a href="{{ path('activities')}}">Activities<span class="dd-trigger">
													<i class="far fa-angle-down"></i>
												</span>
											</a>
											<ul class="sub-menu">
												<li>
													<a href="{{ path('activities')}}">All the activities</a>
												</li>
												<li>
													<a href="{{path('fav_activities')}}">favourites</a>
												</li>
											</ul>
										</li>
										<li class="menu-item has-children">
											<a href="{{path('app_blog_index')}}">blogs</a>
										</li>
										<li class="menu-item has-children">
											<a href="{{path('app_shop_index')}}">shop</a>
										</li>
										<li class="menu-item has-children">
											<a href="{{path('app_hebergement_index_client')}}">Accomodations</a>
										</li>

										<li class="menu-item has-children"><a href="{{path('cart')}}"><i class="fa-solid fa-cart-shopping"></i></a></li>
										<!-- Add other menu items as needed -->
									</ul>
								</nav>
							</div>
							<!--====== Nav Right Item ======-->
							<div class="nav-right-item">
								<li class="menu-item has-children">
											<a href="{{ path('app_logout') }}">Logout</a>
										</li>
								<div class="menu-button d-xl-block d-none">
									<a href="{{ path('activities')}}" class="main-btn primary-btn">Book Now<i class="fas fa-paper-plane"></i>
									</a>
								</div>
								<div class="navbar-toggler">
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</header>
		{% endblock %}
		<!--====== End Header ======-->
		{% block content %}{% endblock %}

		<!--====== Start Footer ======-->
		<footer class="main-footer black-bg pt-230">
			{% block footer %}
				<div
					class="container">
					<!--=== Footer CTA ===-->
					<div class="footer-cta pb-40">
						<div class="row">
							<div
								class="col-lg-6">
								<!--=== Single CTA Item ===-->
								<div class="single-cta-item pr-lg-60 mb-40 wow fadeInLeft">
									<div class="icon">
										<img src="{{ asset('assets/images/icon/support.png') }}" alt="Icon">
									</div>
									<div class="content">
										<h3 class="title">Need Any Support For
																																																																																																																									                                        Tour & Travels ?</h3>
										<a href="#" class="icon-btn">
											<i class="far fa-long-arrow-right"></i>
										</a>
									</div>
								</div>
							</div>
							<div
								class="col-lg-6">
								<!--=== Single CTA Item ===-->
								<div class="single-cta-item pl-lg-60 mb-40 wow fadeInRight">
									<div class="icon">
										<img src="{{ asset('assets/images/icon/travel.png') }}" alt="Icon">
									</div>
									<div class="content">
										<h3 class="title">Ready to Get Started With Vacations!</h3>
										<a href="#" class="icon-btn">
											<i class="far fa-long-arrow-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--=== Footer Widget ===-->
					<div class="footer-widget-area pt-75 pb-30">
						<div class="row">
							<div
								class="col-lg-3 col-md-6">
								<!--=== Footer Widget ===-->
								<div class="footer-widget about-company-widget mb-40 wow fadeInUp">
									<h4 class="widget-title">About</h4>
									<div class="footer-content">
										<p>To take trivial example which us 
																																																																																																																									                                        ever undertakes laborious physica
																																																																																																																									                                        exercise except obsome</p>
										<a href="#" class="footer-logo"><img src="{{ asset('assets/images/logo/logo-white.png') }}" alt="Site Logo"></a>
									</div>
								</div>
							</div>
							<div
								class="col-lg-5 col-md-6">
								<!--=== Footer Widget ===-->
								<div class="footer-widget service-nav-widget mb-40 pl-lg-70 wow fadeInDown">
									<h4 class="widget-title">Services</h4>
									<div class="footer-content">
										<ul class="footer-widget-nav">
											<li>
												<a href="#">Caravan Soler Tent</a>
											</li>
											<li>
												<a href="#">Family Tent Camping</a>
											</li>
											<li>
												<a href="#">Classic Tent Camping</a>
											</li>
											<li>
												<a href="#">Wild Tent Camping</a>
											</li>
											<li>
												<a href="#">Small Cabin Wood</a>
											</li>
										</ul>
										<ul class="footer-widget-nav">
											<li>
												<a href="#">Need a Career ?</a>
											</li>
											<li>
												<a href="#">Latest News & Blog</a>
											</li>
											<li>
												<a href="#">Core Features</a>
											</li>
											<li>
												<a href="#">Meet Our teams</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="col-lg-4 col-md-6">
								<!--=== Footer Widget ===-->
								<div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100 wow fadeInUp">
									<h4 class="widget-title">Newsletter</h4>
									<div class="footer-content">
										<p>Which of us ever undertake laborious
																																																																																																																									                                        physical exercise except obtain</p>
										<form>
											<div class="form_group">
												<label>
													<i class="far fa-paper-plane"></i>
												</label>
												<input type="email" class="form_control" placeholder="Email Address" name="email" required>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--=== Footer Copyright ===-->
					<div class="footer-copyright">
						<div class="row">
							<div
								class="col-lg-6">
								<!--=== Footer Text ===-->
								<div class="footer-text">
									<p>Copy@ 2023
										<span style="color: #F7921E;">GoWilds</span>, All Right Reserved</p>
								</div>
							</div>
							<div
								class="col-lg-6">
								<!--=== Footer Nav ===-->
								<div class="footer-nav float-lg-end">
									<ul>
										<li><a href="#">Setting & privacy</a></li>
										<li><a href="#">Faqs</a></li>
										<li><a href="#">Support</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--====== End Footer ======-->
		{% endblock %}
		{# {% block javascripts %}
													{{ encore_entry_script_tags('app') }}
												{% endblock %} #}
		{% block js %}
			<!--====== Jquery js ======-->
			<script src="{{asset('assets/vendor/jquery-3.6.0.min.js')}}"></script>
			<!--====== Bootstrap js ======-->
			<script src="{{asset('assets/vendor/popper/popper.min.js')}}"></script>
			<!--====== Bootstrap js ======-->
			<script src="{{asset('assets/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
			<!--====== Slick js ======-->
			<script src="{{asset('assets/vendor/slick/slick.min.js')}}"></script>
			<!--====== Magnific js ======-->
			<script src="{{asset('assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
			<!--====== Isotope js ======-->
			<script src="{{asset('assets/vendor/isotope.min.js')}}"></script>
			<!--====== Imagesloaded js ======-->
			<script src="{{asset('assets/vendor/imagesloaded.min.js')}}"></script>
			<!--====== Counterup js ======-->
			<script src="{{asset('assets/vendor/jquery.counterup.min.js')}}"></script>
			<!--====== Waypoints js ======-->
			<script src="{{asset('assets/vendor/jquery.waypoints.js')}}"></script>
			<!--====== Nice-select js ======-->
			<script src="{{asset('assets/vendor/nice-select/js/jquery.nice-select.min.js')}}"></script>
			<!--====== jquery UI js ======-->
			<script src="{{asset('assets/vendor/jquery-ui/jquery-ui.min.js')}}"></script>
			<!--====== WOW js ======-->
			<script src="{{asset('assets/vendor/wow.min.js')}}"></script>
			<!--====== Main js ======-->
			<script src="{{asset('assets/js/theme.js')}}"></script>
		<script src="https://kit.fontawesome.com/021150532a.js" crossorigin="anonymous"></script>


		{% endblock %}
	</body>
</html>
