{% extends "base_back.html.twig" %}
{% block content %}
    <main id="main" class="main">
        <div id="flash-messages">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
        </div>
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_type_hebergement_index') }}">List</a></li>
                    <li class="breadcrumb-item active">show</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ type_hebergement.nom }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Id :</h6>
                    <p class="card-text">{{ type_hebergement.id }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Name :</h6>
                    <p class="card-text">{{ type_hebergement.nom }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Description :</h6>
                    <p class="card-text">{{ type_hebergement.description }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">CreatedAt :</h6>
                    <p class="card-text">{{ type_hebergement.createdAt ? type_hebergement.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">UpdatedAt :</h6>
                    <p class="card-text">{{ type_hebergement.updatedAt ? type_hebergement.updatedAt|date('Y-m-d H:i:s') : ''}}</p>
                    <div class="btn-group,card-text" role="group" aria-label="Basic mixed styles example">
                        <a href="{{ path('app_type_hebergement_edit', {'id': type_hebergement.id}) }}" class="btn btn-success">Edit</a>
                        <a href="{{ path('app_type_hebergement_delete', {'id': type_hebergement.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->
{% endblock %}